@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    font-weight: normal;
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.router-link-exact-active {
    color: #134e4a;
}

.button {
    background-color: #15803d;
    border: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 0.5rem;
}

.button:hover, .button:active {
    background-color: #052e16;
}

.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.inputs {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active,
.show-list-enter-active{
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to,
.show-list-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.range-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}
